.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control {
    margin-bottom: 1rem;
}
.form-actions button {
    background-color: rgb(0, 110, 255);
    font: inherit;
    border: 1pex solid rgb(0, 110, 255);
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: #fff;
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
    background-color: rgb(0, 68, 255);
}

.form-actions button:disabled {
    background-color: rgb(99, 99, 99);
}

p {
    color: red;
    text-align: center;
}
